# dataset
data/
dataset/

# checkpoints
checkpoints/
*.pth
*.pt
*.ckpt

# logs
logs/
runs/
wandb/
candidate_outputs/
search_outputs/
validation_outputs/

# cache
__pycache__/
*.pyc

# numpy / large files
*.npy
*.npz
*.pkl

# system
.DS_Store
